In [41]:
import pandas as pd
import matplotlib.pyplot as plt

In [42]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/MyDrive/Datasets
%ls

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive/MyDrive/Datasets
'=1.2.0'       'default of credit card clients (1).xlsx'
 cwurData.csv  'fellow ship work.xlsx'
 data.csv

In [43]:
%cd MyDrive/Datasets
%ls

[Errno 2] No such file or directory: 'MyDrive/Datasets'
/gdrive/MyDrive/Datasets
'=1.2.0'       'default of credit card clients (1).xlsx'
 cwurData.csv  'fellow ship work.xlsx'
 data.csv

###MIssing Values Trj#123445
read_csv
head
tail
iloc
drop
dropna(to use mean, median mode)
fillna
ffill
bfill
corr

In [24]:
%ls

'=1.2.0'       'default of credit card clients (1).xlsx'
 cwurData.csv  'fellow ship work.xlsx'
 data.csv

In [25]:
%cd Datasets

[Errno 2] No such file or directory: 'Datasets'
/gdrive/MyDrive/Datasets

In [26]:
%ls

'=1.2.0'       'default of credit card clients (1).xlsx'
 cwurData.csv  'fellow ship work.xlsx'
 data.csv

In [44]:
df=pd.read_csv('cwurData.csv')

In [45]:
df

      world_rank                            institution  ...   score  year
0              1                     Harvard University  ...  100.00  2012
1              2  Massachusetts Institute of Technology  ...   91.67  2012
2              3                    Stanford University  ...   89.50  2012
3              4                University of Cambridge  ...   86.17  2012
4              5     California Institute of Technology  ...   85.21  2012
...          ...                                    ...  ...     ...   ...
2195         996              University of the Algarve  ...   44.03  2015
2196         997                  Alexandria University  ...   44.03  2015
2197         998            Federal University of Ceará  ...   44.03  2015
2198         999                 University of A Coruña  ...   44.02  2015
2199        1000        China Pharmaceutical University  ...   44.02  2015

[2200 rows x 14 columns]

In [29]:
df[7:20]

    world_rank                                      institution  ...  score  year
7            8                                  Yale University  ...  79.14  2012
8            9                              Columbia University  ...  78.86  2012
9           10               University of California, Berkeley  ...  78.55  2012
10          11                            University of Chicago  ...  73.82  2012
11          12                               Cornell University  ...  73.69  2012
12          13                       University of Pennsylvania  ...  73.64  2012
13          14                              University of Tokyo  ...  69.49  2012
14          15                         Johns Hopkins University  ...  66.94  2012
15          16  Swiss Federal Institute of Technology in Zurich  ...  66.69  2012
16          17                                 Kyoto University  ...  65.76  2012
17          18                    Weizmann Institute of Science  ...  65.09  2012
18          19            University of California, Los Angeles  ...  64.05  2012
19          20              University of California, San Diego  ...  63.11  2012

[13 rows x 14 columns]

In [30]:
df2=df.bfill(inplace=False,axis=0)

In [31]:
df2

      world_rank                            institution  ...   score  year
0              1                     Harvard University  ...  100.00  2012
1              2  Massachusetts Institute of Technology  ...   91.67  2012
2              3                    Stanford University  ...   89.50  2012
3              4                University of Cambridge  ...   86.17  2012
4              5     California Institute of Technology  ...   85.21  2012
...          ...                                    ...  ...     ...   ...
2195         996              University of the Algarve  ...   44.03  2015
2196         997                  Alexandria University  ...   44.03  2015
2197         998            Federal University of Ceará  ...   44.03  2015
2198         999                 University of A Coruña  ...   44.02  2015
2199        1000        China Pharmaceutical University  ...   44.02  2015

[2200 rows x 14 columns]

In [32]:
df2.corr

<bound method DataFrame.corr of       world_rank                            institution  ...   score  year
0              1                     Harvard University  ...  100.00  2012
1              2  Massachusetts Institute of Technology  ...   91.67  2012
2              3                    Stanford University  ...   89.50  2012
3              4                University of Cambridge  ...   86.17  2012
4              5     California Institute of Technology  ...   85.21  2012
...          ...                                    ...  ...     ...   ...
2195         996              University of the Algarve  ...   44.03  2015
2196         997                  Alexandria University  ...   44.03  2015
2197         998            Federal University of Ceará  ...   44.03  2015
2198         999                 University of A Coruña  ...   44.02  2015
2199        1000        China Pharmaceutical University  ...   44.02  2015

[2200 rows x 14 columns]>

In [33]:
df2=df.bfill(inplace=False,axis=0)

In [34]:
df2[1:5]

   world_rank                            institution  ...  score  year
1           2  Massachusetts Institute of Technology  ...  91.67  2012
2           3                    Stanford University  ...  89.50  2012
3           4                University of Cambridge  ...  86.17  2012
4           5     California Institute of Technology  ...  85.21  2012

[4 rows x 14 columns]

In [35]:
df2=df.fillna(df.mean(),inplace=False,axis=0)
df2[:2]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

   world_rank                            institution  ...   score  year
0           1                     Harvard University  ...  100.00  2012
1           2  Massachusetts Institute of Technology  ...   91.67  2012

[2 rows x 14 columns]

In [36]:
df2['world_rank']
# df2

0          1
1          2
2          3
3          4
4          5
        ...
2195     996
2196     997
2197     998
2198     999
2199    1000
Name: world_rank, Length: 2200, dtype: int64

In [37]:
df2['national_rank']

0        1
1        2
2        3
3        1
4        4
        ..
2195     7
2196     4
2197    18
2198    40
2199    83
Name: national_rank, Length: 2200, dtype: int64