In [1]:
# Name Taukir Shekh[19DCS134]
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/MyDrive/Datasets
%ls

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive/MyDrive/Datasets
 Admission_Predict.csv
 Admission_Predict_Ver1.1.csv
'Breast Cancer Wisconsin Dataset.csv'
 cwurData.csv
 data.csv
 dataset_31_credit-g.csv
'default of credit card clients (1).xlsx'

###MIssing Values Trj#123445
read_csv
head
tail
iloc
drop
dropna(to use mean, median mode)
fillna
ffill
bfill
corr

In [3]:
df=pd.read_csv('cwurData.csv')
df.head()

   world_rank                            institution  ...   score  year
0           1                     Harvard University  ...  100.00  2012
1           2  Massachusetts Institute of Technology  ...   91.67  2012
2           3                    Stanford University  ...   89.50  2012
3           4                University of Cambridge  ...   86.17  2012
4           5     California Institute of Technology  ...   85.21  2012

[5 rows x 14 columns]

In [4]:
df2=df.bfill(inplace=False,axis=0)
df2[195:205]

     world_rank                            institution  ...   score  year
195          96         Australian National University  ...   44.50  2013
196          97                  University of Alberta  ...   44.50  2013
197          98                 University of Helsinki  ...   44.39  2013
198          99     Paris Diderot University - Paris 7  ...   44.36  2013
199         100        Georgia Institute of Technology  ...   44.26  2013
200           1                     Harvard University  ...  100.00  2014
201           2                    Stanford University  ...   99.09  2014
202           3  Massachusetts Institute of Technology  ...   98.69  2014
203           4                University of Cambridge  ...   97.64  2014
204           5                   University of Oxford  ...   97.51  2014

[10 rows x 14 columns]

In [5]:
df2=df.ffill(inplace=False,axis=1)
df2.head()
df2[195:205]

    world_rank                            institution  ...  score  year
195         96         Australian National University  ...   44.5  2013
196         97                  University of Alberta  ...   44.5  2013
197         98                 University of Helsinki  ...  44.39  2013
198         99     Paris Diderot University - Paris 7  ...  44.36  2013
199        100        Georgia Institute of Technology  ...  44.26  2013
200          1                     Harvard University  ...  100.0  2014
201          2                    Stanford University  ...  99.09  2014
202          3  Massachusetts Institute of Technology  ...  98.69  2014
203          4                University of Cambridge  ...  97.64  2014
204          5                   University of Oxford  ...  97.51  2014

[10 rows x 14 columns]

In [6]:
df2.corr()

Empty DataFrame
Columns: []
Index: []

In [12]:
df2=df.fillna(df.mean(),inplace=False,axis=0)
df2[195:205]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

     world_rank                            institution  ...   score  year
195          96         Australian National University  ...   44.50  2013
196          97                  University of Alberta  ...   44.50  2013
197          98                 University of Helsinki  ...   44.39  2013
198          99     Paris Diderot University - Paris 7  ...   44.36  2013
199         100        Georgia Institute of Technology  ...   44.26  2013
200           1                     Harvard University  ...  100.00  2014
201           2                    Stanford University  ...   99.09  2014
202           3  Massachusetts Institute of Technology  ...   98.69  2014
203           4                University of Cambridge  ...   97.64  2014
204           5                   University of Oxford  ...   97.51  2014

[10 rows x 14 columns]

In [8]:
df2=df.fillna(df.median(),inplace=False,axis=0)
df2[195:205]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

     world_rank                            institution  ...   score  year
195          96         Australian National University  ...   44.50  2013
196          97                  University of Alberta  ...   44.50  2013
197          98                 University of Helsinki  ...   44.39  2013
198          99     Paris Diderot University - Paris 7  ...   44.36  2013
199         100        Georgia Institute of Technology  ...   44.26  2013
200           1                     Harvard University  ...  100.00  2014
201           2                    Stanford University  ...   99.09  2014
202           3  Massachusetts Institute of Technology  ...   98.69  2014
203           4                University of Cambridge  ...   97.64  2014
204           5                   University of Oxford  ...   97.51  2014

[10 rows x 14 columns]

In [9]:
df2['world_rank']
# df2

0          1
1          2
2          3
3          4
4          5
        ...
2195     996
2196     997
2197     998
2198     999
2199    1000
Name: world_rank, Length: 2200, dtype: int64

In [10]:
df2['national_rank']

0        1
1        2
2        3
3        1
4        4
        ..
2195     7
2196     4
2197    18
2198    40
2199    83
Name: national_rank, Length: 2200, dtype: int64